* {
    box-sizing: border-box;
}

img {
    width: 100%;

}

header {
    background-color: rgb(245,245,245);
}

    .header-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-button {
        display: inline;
    }

    .nav-button > a:link,
    .nav-button > a:visited {
        color: grey;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .nav-button > a:hover,
    .nav-button > a:active {
        color: black;
    }

.header-img {
    background: url(https://unsplash.it/2000/3375?image=910&blur);
    background-size: cover;
    background-position: 0% 60%;
    padding: 150px;
    
}

