* {
    box-sizing: border-box;
}

img {
    width: 100%;

}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
}

.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(245,245,245);
}

.nav-button {
    display: inline;
}

.nav-button > a:link,
.nav-button > a:visited {
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-button > a:hover,
.nav-button > a:active {
    color: black;
}

.header-img {
background: url(https://unsplash.it/2000/3375?image=910&blur);
background-size: cover;
background-position: 0% 60%;
padding: 150px;
color: white;
text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.column {
    flex: 1;
}

.price-box {
    /*margin-top: 40px;*/
    text-align: center;
    color: white;
    margin: 15px 15px 0px 15px;
}

.price-box-green {
    background-color: rgb(69,130,56);
    padding-top: 20px;
    padding-bottom: 20px;
}

.price-box-blue {
    background-color: rgb(33,53,118);
    padding-top: 20px;
    padding-bottom: 20px;
}

.price-box-black {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.price {
    font-size: 90px;
    padding-bottom: 5px;
}

.price-columns {
    border: .5px solid rgb(213,213,213);
    background: rgb(245,245,245);
    padding: 10px;
    text-align: center;
    text-color: rgb(65,77,84);
}

.price-info {
    margin: 0px 15px 0px 15px;
}

.choose-button {
    text-align: center;
    background: white;
    border: .5px solid rgb(213,213,213);
    padding: 15px;
}

button {
    background: white;
    border: 1px solid rgb(213,213,213);
    border-radius: 20px;
    padding: 7px;
}