* {
    box-sizing: border-box;
}

img {
    width: 100%;

}

header {
    background-color: rgb(245,245,245);
}

    #header-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-button {
        display: inline;
    }

    .nav-button > a:link,
    .nav button > a.visted, {
        color: grey;
        font-family: 'Helvetica', sans-serif;
        padding: 11px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .nav-button > a:hover,
    .nav-button > a:active {
        color: black;
    }